@model IEnumerable<TodoTask>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pending Tasks</h1>
    <hr />
    <ul>
    @foreach (var task in Model)
    {
        <li>
            <div>
            <p>@task.Description</p>
            <p><strong>Done at:</strong> @task.DoneWhen</p>
            </div>
            <hr />
        </li>
    }
    </ul>
</div>
