@model IEnumerable<TodoTask>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pending Tasks To Do</h1>
    <hr />
    <ul>
    @foreach (var task in Model)
    {
        <li>
            <div>
            <p><strong>@task.Description </strong> - <a href="@Url.Action("MarkAsDone", new { id = task.Id })">Mark as done</a> </p>
            <p><small>Done at: @task.DoneWhen</small></p>
            </div>

            <hr />
        </li>
    }
    </ul>
</div>
